In [32]:
import pandas as pd

In [197]:
df=pd.read_excel("Feb_2023.xlsx")

In [198]:
# Fill Nan with 0
df.fillna(0,inplace=True)

In [199]:
df[['Rating','Month target in nos','Cummalative ']]

      Rating  Month target in nos  Cummalative
0   SPC-0.5A                    0             0
1   SPC-1.0A                    0             1
2    SPC-1.6                    0            14
3      SPC-2                    0             5
4    SPC-2.5                    0             0
..       ...                  ...           ...
69    TP-63A                  200             0
70   TP-100A                    0             0
71    FP-40A                 1000            54
72    FP-63A                 1000             0
73   FP-100A                  500           277

[74 rows x 3 columns]

In [210]:
def product_target_achieved():
    m=df['Month target in nos']
    c=df['Cummalative ']

    # Monthly Target > Cummalative
    target_greater_than_cummalative= df[['Rating','Month target in nos','Cummalative ' ]].where(m > c).dropna()

    # Monthly Target < Cummalative
    Cummalative_greater_than_target=df[['Rating','Month target in nos','Cummalative ' ]].where(m < c).dropna()

    # Monthly Target = Cummalative
    Cummalative_equal_target=df[['Rating','Month target in nos','Cummalative ' ]].where(m == c).dropna()
    
    return target_greater_than_cummalative,Cummalative_greater_than_target,Cummalative_equal_target
    
    
a,b,c=product_target_achieved()

print("Monthly Target is greater than Cummalative",len(a))
print("Monthly Target is lesser than Cummalative",len(b))
print("Monthly Target is equals to Cummalative",len(c))

Monthly Target is greater than Cummalative 3
Monthly Target is lesser than Cummalative 3
Monthly Target is equals to Cummalative 3

In [292]:
x/y*100

96.53269537480064

In [290]:
x=df['Cummalative '].sum()
y=df['Month target in nos'].sum()

In [212]:
def monthly_target_achieved():
    a=df['Month target in nos'].sum()
    b=df['Cummalative '].sum()

    if a>b:
        return "Behind",(a-b)
    if b>a:
        return "Ahead",(b-a)

('Behind', 9783)

In [213]:
msg,gap=monthly_target_achieved()

In [238]:
df1=pd.DataFrame()
df1['Target']=['Monthly Target','Cummalative']
df1['Production']=[df['Month target in nos'].sum(),df['Cummalative '].sum()]

In [239]:
df1

           Target  Production
0  Monthly Target      282150
1     Cummalative      272367

In [202]:
def max_cummalative_products():
    return df[['Rating','Month target in nos','Cummalative ']].sort_values(by='Cummalative ',ascending=False).head(10)

In [203]:
max_cummalative_products()

         Rating  Month target in nos  Cummalative
24   BEN DP-16A                    0         65300
23  DRIS DP-16A                    0         55000
16     SP-C-10A                30000         37419
17    SP-C- 16A                30000         21491
10   SP-B - 16A                30000         12326
18    SP-C- 20A                12000         11913
19    SP-C- 25A                10000          7437
65       DP-40A                15000          7039
9     SP-B -10A                30000          6877
20     SP-C-32A                10000          6779

In [204]:
def max_date_and_prod(product):
    dates=[i for i in df.columns if type(i)==int]

    dt=0
    mx=0.0
    for i in dates:
        z=df[df['Rating']==product][i].to_list()
        if (z[0]) > mx:
            mx=df[df['Rating']==product][i].to_list()[0]
            dt=i
    return dt,mx

In [205]:
max_date_and_prod('BEN DP-16A')

(11, 7300.0)

In [206]:
max_date_and_prod('DRIS DP-16A')

(24, 7600.0)

In [207]:
df

,Rating,Month target in nos,1,2,3,4,5,6,7,2.1,...,23,24,25,26,27,28,29,30,31,Cummalative
0,SPC-0.5A,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,SPC-1.0A,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1
2,SPC-1.6,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,14
3,SPC-2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5
4,SPC-2.5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,TP-63A,200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,TP-100A,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
71,FP-40A,1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,54
72,FP-63A,1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
73,FP-100A,500,0.0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,277

In [209]:
m=df['Month target in nos']
c=df['Cummalative ']

# Monthly Target > Cummalative
df[['Rating','Month target in nos','Cummalative ' ]].where(m > c).dropna()

        Rating  Month target in nos  Cummalative
8    SP-B - 6A              10000.0        1835.0
9    SP-B -10A              30000.0        6877.0
10  SP-B - 16A              30000.0       12326.0
11  SP-B - 20A              15000.0        4914.0
12  SP-B - 25A              12000.0        3985.0
13   SP-B -32A              15000.0        3506.0
14   SP-B -40A                500.0           0.0
15    SP-C- 6A              10000.0        3816.0
17   SP-C- 16A              30000.0       21491.0
18   SP-C- 20A              12000.0       11913.0
19   SP-C- 25A              10000.0        7437.0
20    SP-C-32A              10000.0        6779.0
22    SP-C-63A               1500.0         449.0
27    SPN- 16A               2000.0           0.0
28     SPN-20A               2500.0        1465.0
29    SPN- 25A               2500.0         518.0
30     SPN-32A               5000.0        2927.0
32     SPN-63A                250.0          73.0
34      DP-10A                500.0          39.0
35     DP- 16A               1500.0         837.0
36     DP- 20A               1000.0          12.0
37     DP- 25A               1500.0           0.0
38      DP-32A              10000.0        5083.0
39      DP-40A               1000.0         511.0
40      DP-63A               1000.0         342.0
41       TP-6A                100.0           0.0
42      TP-10A                100.0           0.0
43     TP- 16A                100.0           0.0
44     TP- 20A                100.0           0.0
45     TP- 25A                100.0           0.0
46      TP-32A               2000.0         718.0
47      TP-40A               1000.0          40.0
48      TP-63A               1500.0         463.0
54      TP-32A               2000.0         612.0
55      TP-40A               1000.0         231.0
56      TP-63A               2000.0         552.0
62      FP-32A               2000.0         426.0
63      FP-40A               1000.0          33.0
64      FP-63A               2000.0         506.0
65      DP-40A              15000.0        7039.0
66      DP-63A               3000.0         989.0
68      TP-40A                200.0          57.0
69      TP-63A                200.0           0.0
71      FP-40A               1000.0          54.0
72      FP-63A               1000.0           0.0
73     FP-100A                500.0         277.0

In [242]:
ratings=[i for i in df['Rating'].unique()]

In [243]:
ratings

['SPC-0.5A',
 'SPC-1.0A',
 'SPC-1.6',
 'SPC-2',
 'SPC-2.5',
 'SPC-3',
 'SPC-4',
 'SPC-5',
 'SP-B - 6A',
 'SP-B -10A',
 'SP-B - 16A',
 'SP-B - 20A',
 'SP-B - 25A',
 'SP-B -32A',
 'SP-B -40A',
 'SP-C- 6A',
 'SP-C-10A',
 'SP-C- 16A',
 'SP-C- 20A',
 'SP-C- 25A',
 'SP-C-32A',
 'SP-C-40A',
 'SP-C-63A',
 'DRIS DP-16A',
 'BEN DP-16A',
 'SPN- 6A',
 'SPN-10A',
 'SPN- 16A',
 ' SPN-20A',
 'SPN- 25A',
 'SPN-32A',
 'SPN-40A',
 'SPN-63A',
 'DP-6A',
 'DP-10A',
 'DP- 16A',
 'DP- 20A',
 'DP- 25A',
 'DP-32A',
 'DP-40A',
 'DP-63A',
 'TP-6A',
 'TP-10A',
 'TP- 16A',
 'TP- 20A',
 'TP- 25A',
 'TP-32A',
 'TP-40A',
 'TP-63A',
 'FP-6A',
 'FP-10A',
 'FP- 16A',
 'FP- 20A',
 'FP- 25A',
 'FP-32A',
 'FP-40A',
 'FP-63A',
 'DP-100A',
 'TP-100A',
 'FP-100A']

In [247]:
df[df['Rating']=='SPC-0.5A'].

AttributeError: 'DataFrame' object has no attribute 'resize'

In [248]:
def max_date_and_prod(product):
    dates=[i for i in df.columns if type(i)==int]

    dt=0
    mx=0.0
    for i in dates:
        z=df[df['Rating']==product][i].to_list()
        if (z[0]) > mx:
            mx=df[df['Rating']==product][i].to_list()[0]
            dt=i
    return dt,mx

In [251]:
max_date_and_prod('SP-C- 16A')

(27, 6089.0)

In [252]:
dates=[i for i in df.columns if type(i)==int]

In [264]:
xx=df[['Rating',2]].sort_values(by=2,ascending=False).head(5)

In [268]:
xx

         Rating       2
24   BEN DP-16A  4400.0
23  DRIS DP-16A  3500.0
8     SP-B - 6A  1744.0
9     SP-B -10A   597.0
15     SP-C- 6A   400.0

In [271]:
rt=[i for i in xx['Rating']]

In [273]:
dd=[i for i in xx[2]]

In [274]:
dd

[4400.0, 3500.0, 1744.0, 597.0, 400.0]

In [278]:
for i in range(5):
    print(rt[i],dd[i])

BEN DP-16A 4400.0
DRIS DP-16A 3500.0
SP-B - 6A 1744.0
SP-B -10A 597.0
SP-C- 6A 400.0

In [281]:
f"col{str(1+1)}"

'col2'

In [287]:
df[['Rating','Cummalative ']].sort_values(by='Cummalative ',ascending=False).head(5)

         Rating  Cummalative
24   BEN DP-16A         65300
23  DRIS DP-16A         55000
16     SP-C-10A         37419
17    SP-C- 16A         21491
10   SP-B - 16A         12326